body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    border-bottom: dotted 1px silver;
}

div#location-container, div#weather-container {
    border: solid 1px #000080;
    margin: 8pt 0;
    max-width: 400px;
    position: relative;
}

div#location-label-container, div#weather-label-container {
    background-color: #000080;
    color: white;
    font-weight: bold;
    padding: 4px;
    height: 24px;
}

div#location-result-container, div#weather-result-container {
    height: 32px;
    padding: 12px 4px 0px 4px;
}

img#spinner {
    width: 32px;
    height: 32px;
    visibility: hidden;
    position: absolute;
    top: 38px;
    right: 4px;
}

div#location-result-container.empty {
    background-color: #ffffff;
}

div#location-result-container.incomplete {
    background-color: #ffffcc;
}

div#location-result-container.valid {
    background-color: #ffffcc;
}

div#location-result-container.illegal {
    background-color: #ffcccc;
}

div#location-result-container.known {
    background-color: #ccffcc;
}

div#location-result-container.unknown {
    background-color: #ffcccc;
}

div#footer {
    font-size: 10pt;
    font-style: italic;
}
