<!DOCTYPE html>
<html>
<head>
	<title>What's the weather?</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/files/js/main.js"></script>
    <link rel="stylesheet" href="/files/css/main.css"/>
</head>

<body>

<h1>What's the weather?</h1>

<div id="form-container">
<form onSubmit="return fetchWeather();">
    Zip code: <input type="text" name="zip" id="zip" maxlength="5"/>
    <input type="submit" id="check" value="Check the weather" disabled="true"/>
</form>
</div>

<div id="location-container">
    <div id="location-label-container">Location</div>
    <div id="location-result-container"></div>
</div>

<div id="weather-container">
    <div id="weather-label-container">Weather</div>
    <div id="weather-result-container"></div>
    <img src="/files/images/spinner.gif" id="spinner"/>    
</div>

<div id="footer">{{ timestamp }}</div>

</body>
</html>
